body, html {
    height: 100%;
}

#home-page-text {
    border-radius: 10px;
    background: ghostwhite;
    padding: 20px;
}

.login-submit {
    background-color: rgb(255, 110, 25);
    border: none;
    color: rgb(10,10,15);
    width: 100%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.login-submit:hover {
    background-color: rgba(255, 110, 25, 0.9);
}

.forgot-pwd  {
    padding-top: 10px;
    font-size: 15px;
    color: rgb(255, 110, 25);
}

.forgot-pwd a {
    text-decoration: none;
    color: rgb(255, 110, 25);
}

.forgot-pwd a:hover {
    color: rgba(255, 110, 25, 0.8);
}

.card {
    background-color: #a6a6a6;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.banner-image{
    background-image: url('../images/food.png');
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0;
}

.container-fluid {
    padding: 120px 0 120px 0;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}