html {
    position: relative;
    /*min-height: 100%;*/
}

body {
    font-family: "Lato", sans-serif;
    background: ghostwhite;
    margin-bottom: 60px;
}

.page-header {
    margin: 0;
    background: rgb(10,10,15);
    padding-bottom: 20px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #343a40;
}
